
#slider{
    overflow-y: hidden;
    height: 100vh;
}

#imgs{
    list-style: none;
    transition: all 750ms ease;
}

#imgs img{
    width: 30rem;
    height: 100vh;
    object-fit: cover;
}

h1{
    font-size: 4rem;
    margin-left: -0.5rem;
}

.main-text{
    margin-top: 10rem;
}

#footer i{
    font-size: 1.5rem;
}

#footer{
    background-color: rgb(172, 164, 164);
    height: 10rem;
    padding-top: 2.5rem;
}

.navbar-brand i{
   font-size: 2.5rem;
}

.middle-section{
    background-color: rgb(223, 215, 215);
}

.middle-section img{
    width: 80%;
    height: 30rem;
    margin-left: 3rem;  
    margin-top: 1rem;
}

.middle-section p{
    margin-left: 2rem;
}

.middle-section-row .col-12{
    width: 30rem;
}

h2{
    font-size: 2.5rem;
    margin-left: 2rem;
}


.row .col-12{
    transition: 1s;
}

.row .col-12:hover{
    cursor: pointer;
    transform:translateY(-5px);
}

.hidden{
    transform: translateY(5rem);
    opacity: 0;
    transition: 2s;
}

.container{
    transition: 2s;
}



@media (max-width: 576px){

    .col-div-main{
        width: 25rem;
    }

    #slider{
        margin-left: 2.5rem;
    }

    #slider img{
        width: 35rem
    }

    .top-content{
        margin-top: -5rem;
    }

    .col-div-main {
        margin-left: 2rem;
    }

    #main-desc{
        width:25rem;
    }

    #middle-section{
        margin-left: 2.5rem;
        width: 24rem;
    }

    .middle-section-row{
        width: 24rem;
    }

    #middle-box-one, #middle-box-two{
        margin: 0;
        width: 23rem;
    }

    #middle-box-one{
        margin-bottom: 1rem;
    }

    #middle-box-one img, #middle-box-two img{
        margin-left: 2.4rem;
    }

    .h2{
        margin-left: 0.5rem;
    }

    #product-images-row-1 div{
        width: 20rem;
    }

    #product-images-row-2 div{
        width: 20rem;
    }

    #product-images-row-1 div img,
    #product-images-row-2 div img{
        margin-left: 2rem;
    }

    #product-images-row-1 div p,
    #product-images-row-2 div p{
        margin-left: 1rem;
    }
}

@media (min-width:577px) and (max-width: 768px){
    #slider{
        margin-left: 4.8rem;
    }


    #middle-section{
        margin-left: 6rem;
    }

    .h2{
        margin-left: 0.5rem;
    }

    .container #product-images-row-1, .container #product-images-row-2{
        margin-left: 8rem;
    }
}

@media (min-width:769px) and (max-width: 992px){

    #middle-section{
        margin-left: 10rem;
    }

    #middle-box-one{
        margin-bottom: 1rem;
    }

    #middle-box-one, #middle-box-two{
        width: 35rem;
    }

    .h2{
        margin-left: 0rem;
    }

    .container #product-images-row-1, .container #product-images-row-2{
        margin-left: -5.5rem;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    .icon{
        margin-left: 3.5rem;
    }

    .h2{
        margin-left: 5rem;
    }

    #middle-section{
        margin-left: 3.3rem;
    }

    .col-div-main {
        margin-left: 3rem;
       width: 30rem;
    }

 }